spring:
  datasource:
    url: jdbc:h2:mem:dailyroutine
    driver-class-name: org.h2.Driver
    username: sa
    password: 
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always
  jpa:
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true
      path: /h2-console
server:
  port: 8080
  address: 0.0.0.0
jwt:
  secret: mySecretKey1234567890123456789012345678901234567890123456789012345678901234567890
  expiration: 86400000
logging:
  level:
    com.dailyroutine: DEBUG